@model SongViewModel

<h1> Our Favorite Songs </h1>
<br />
<div class="container">

    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Song")'"> Add New Song </button>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Song song in Model.Songs )
            {
                <tr someData="@song.SongId">
                    <td>@song.Title</td>
                    <td>@song.Artist</td>
                    <td>@song.Genre.Name</td>
                    <td>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("UpdateSong", "Song", new {id = song.SongId})'">Update</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("DeleteSong", "Song", new {id = song.SongId})'">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>